<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <%= csrf_meta_tag() %>
        <%= live_title_tag assigns[:page_title] || "OSu", prefix: "OSu - " %>
        <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
        <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    </head>
    <body class="bg-zinc-900 text-zinc-100">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <%= @inner_content %>
        <script src="https://unpkg.com/feather-icons"></script>
        <script>
            feather.replace()
            
            const elementsToTweak = document.querySelectorAll('[data-feather-viewbox-tweak]');

            Array.from(elementsToTweak).forEach(element =>
                element.attributes.viewBox.value = "-2 -3.5 28 28",
            );
        </script>
    </body>
</html>
